body {
    background-color: #3e3e3e;
}
.container {
    background-color: #3e3e3e;
}
a {
    color:white;
    text-decoration: none;
}
#title {
    color: white;
    text-align: center;
    font-size: 60px;
    background-color: #3a3a3a;
    border-bottom: 5px solid #313131;
    border-left: 5px solid #313131;
    font-family: monospace;
}
#title:hover {
    background-color: #313131;
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 5px solid #282828;
    border-right: 5px solid #282828;
}
#cred {
    font-size: x-small;
    color: white;
}
.container {
    align-content: center;
}
.opening {
    height: 500px;
    width: 500px;
    background-color: #af00f1;
    border-top: #282828;
    border-right: #282828;
}